@charset "UTF-8";
/*헤더 css*/
.nav-item {
    float: right;
}
#menu-bar {
    top: 56px;
    z-index: 1500;
    background-color: white;
}
#gnb {
    z-index: 2000;
    background-color: white;
}
#gnb .nav-link {
    color: #eb9362;
    padding-top: 7px;
}
#gnb .nav-link:hover {
    color: white;
    background-color: #eb9362;
}
.fixed-top {
    padding: 5px 20px;
}
#gnb .dropdown {
    z-index: 2000;

}
.dropdown:hover {
    color: #eb9362;
    background-color: white;
    z-index: 2000;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    color: #eb9362;
    background-color: white;
}
#gnb .dropdown-menu {
    min-width: 6rem;
    z-index: 2000;
    background-color: white;
}
#gnb .dropdown-menu:hover {
    color: #eb9362;
    background-color: white;
}
#menu-bar.dropdown-menu {
    width: 20rem;
    margin: 0 3rem;
    text-align: center;
    background-color: white;
}
#menu-bar .dropdown-menu:hover {
    color: #eb9362;
    background-color: white;
}
#menu-bar .nav-link {
    color: #eb9362;
    padding-top: 14px;
    font-weight: 700;
}
#menu-bar .nav-link:hover {
    color: #eb9362;
    padding-top: 14px;
}
.navbar-brand {
    color: #eb9362;
    font-size: 30px;
    font-weight: 900;
}
.navbar-brand:hover {
    color: #eb9362;
}
.divider {
    margin-top: -2px;
    /* margin-bottom: 1rem; */
    font-size: 23px;
}
#menu-bar .dropdown-item {
    text-align: center;
    padding: 8px 12px;
    width: 13rem;
    background-color: white;
}
.dropdown-item:hover {
    color: #eb9362;
    background-color: white;
    font-weight: 700;
    font-size: 1rem;
}
.contents {
    margin-top: 100px;
}
.section {
    margin-top: 100px;
}
.btn-primary {
    background-color: #eb9362;
    border-color: #eb9362;
}
.btn-primary:hover {
    background-color: #eb9362;
    border-color: #eb9362;
}